[submodule "Syntan"]
	path = Syntan
	url = https://github.com/bfahrenfort/Syntan
[submodule "Lexicalli"]
	path = Lexicalli
	url = https://github.com/bfahrenfort/Lexicalli
[submodule "KirbParse"]
	path = KirbParse
	url = https://github.com/bfahrenfort/KirbParse
